* {
    box-sizing: border-box
}

.totalbox {
    width: 1000px;
    height: 1000px;

}

.color_red {
    background-color: #ff0000;
}

.color_green {
    background-color: #008500;
}

.color_blue {
    background-color: #0066ff;
}

.color_yellow {
    background-color: #ffd700;
}

.d-flex {
    display: flex
}

.w-50 {
    width: 50%
}

.h-50 {
    height: 50%
}

.h-100 {
    height: 100%
}

.w-100 {
    width: 100%
}


.smallbox {
    width: 100px;
    height: 100px;


}

.pad {
    padding: 10px;
}

.mar {
    margin: 10px;
}

.margin-bot {
    margin-bottom: 10px;
}

.j-c-end {
    justify-content: flex-end
}

.a-i-end {
    align-items: flex-end
}

.j-c-between {
    justify-content: space-between;
}

.a-self-start {
    align-self: flex-start;
}

.a-self-end {
    align-self: flex-end;
}


